@page
@model AwesomeAnagramsASP.Pages.DefinitionModel
@{
    ViewData["Title"] = "Definition";
}
<div class="text-center">
    <h1 class="display-4">Definition</h1>

    <h2>
        @Model.Word
    </h2>
    <p>
        @Model.Definition
    </p>
</div>
