@page
@model AwesomeAnagramsASP.Pages.WordNotFoundModel
@{
    ViewData["Title"] = "Word Not Found";
}

<div class="text-center">
    <h1 class="display-4">Error</h1>

    <h2>
        Word Not Found!
    </h2>
    <p>
        Sorry!
    </p>
</div>